<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="nicla">

<xacro:include filename="$(find nicla_vision_ros)/urdf/nicla_macro.urdf.xacro" />

<link name="world"/>

<xacro:nicla_box name="nicla" parent_link="world">
  <origin xyz="0 0 0" rpy="0 0 0"/>
</xacro:nicla_box>

</robot>
